{{/* The line below tells Intellij/GoLand to enable the autocompletion based *gen.Type type. */}}
{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{ define "model/attribute" }}
    func (a *Attribute) Hello() {
    println("HELLO")
    }
{{ end }}